<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <% if(KindaDay === "Saturday" || KindaDay === "Sunday" ){ %>
      <h1 style = " color:red">Its a <%=KindaDay%>!</h1>
  <%  }%>
<%    else { %>
      <h1 style = " color:blue">Its a <%=KindaDay%>!</h1>
  <%  }%>

  </body>
</html>
